.logo{
            z-index: 999;
            position: fixed;
            width: 250px;
            background-color: white;
            height: 60px;
            padding-left: 20px;
            text-align: left;
            line-height: 60px;
            background-color: rgb(75, 113, 151);
            color: #fbff00;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loggedtext, .notmailtext, .exittext{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.loggedtext{
    margin-top: 65px;
    font-size: 12px;
    color: white !important;
}
.notmailtext{
    margin-left: -45px;
    color: rgb(0%, 84.2%, 100%);
    font-size: 18px;
}
.exittext{
    color: white;
    cursor: pointer;
}

.subListImage{
    display: inline;
}

.subListName{
    display: inline;
}

#subList img{
    display: inline-block;
    position: relative;
    top: 0px;
    width: 30px;
    
    border-radius: 25px;
    border: 2px solid #ffef2d;
}
#subList .pure-menu-item{
    margin-bottom: 6px;
}


.notmail-item:hover{
    background-color: rgb(35.8%, 75.3%, 82.7%);
}


.modal label{
    font-weight: bold;
}

.subInfoImg{
    display: inline;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
}

.subShow{
    color:#252a3a;  
}
.subShow:hover{
    color:rgb(35.8%, 75.3%, 82.7%) ;
}

.glyphicon-edit{
    color: white;
}
/*.selectedSub{
    color: yellow !important;
}*/

.pure-menu-item{
    margin: 0;
    padding: 0;
    display: block;
}

.subListName{
    display: block;
    width: 100%;
    max-width:220px;
    word-break:break-all;
    white-space: normal;
    color: white;
}

.settingsSubs{
    margin-left: 225px;
    position: absolute !important;
    top: 12px !important;
}

.selectedSub{
    color: white !important;
}

.unselectedSub{
    color: gray !important;
}

.subListName a{
    color: inherit !important;
}